@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");


object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background: #fefefe;
}

.container {
  width: 80%;
  margin: 60px auto;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}

.B1{
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}
.btn-white {
  background-color: #fff;
  color: #777;
  padding: 20px;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
.name{
  padding:5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.name1{
  padding:80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.price{
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}
.glow-on-hover {
  width: 30px;
  height: 30px;
  border: none;

  outline: none;
  margin: 5px;
  color: #fff;
  background:#cccccc;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color:#cccccc;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #cccccc;
  left: 0;
  top: 0;
  border-radius: 10px;
}
 .drop{
 
    position: absolute;
    right: 0px;
    width: 300px;
  
    padding: 10px;
  
 }
 .item{
  
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  
 }
 .glow {
  outline:none;
  height: 20px;
  text-align: center;
  width: 30px;
  border-radius:40px;
  background: #fff;
  margin-left: 10px;
  color: green;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
 }
  .glow:hover {
    color:white;
    background: green;
  }
  .image{
width: 200px;
height: 200px;
;
  }
.cover{
  background: url("https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_1170,h_675/https://ecommercegermany.com/wp-content/uploads/2020/05/CoverEBE-1170x675.jpg")
}
.padding{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 500px;
  padding-left: 80px;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color:#4d0000;
}  
.padding2{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.styling{
  border-color: grey;
  
  border-style: groove;
}
.padding3{
  padding: 20px;
}
#footer {
  bottom: 0%;
  position: fixed;
  width: 100%;
}
